*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    background-color: #081b31;
    color: white;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 4rem;
}
.choice{
    height: 200px;
    width: 200px;
    
}
img{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    object-fit: cover;
}
.choice :hover{
    border: 5px solid #081b31;
    cursor: pointer;
    transform: scale(1.1);
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 3rem;
}
#user-score, #computer-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline;
    border-radius: 1rem;
    padding: 1rem;
}